1.Download Git v2.38.1 (windows 64-bit): https://git-scm.com/downloads
2.Download Python v3.9.13 (windows 64-bit, search the page with CTRL+F): https://www.python.org/downloads/wind...
3.Download Stable Diffusion v1-5: https://huggingface.co/runwayml/stabl...
4.Download PyTorch v1.13.0: https://pytorch.org/get-started/locally/
5.Download Diffusers v0.7.2: https://github.com/huggingface/diffusers
6.Download Transformers v4.24.0: https://github.com/huggingface/transf...
7.Download PyCharm v2022.2.4: https://www.jetbrains.com/pycharm/dow...
